<div class="ui left aligned inverted blue clearing segment">
    <div class="ui middle aligned grid">
        <div class="ui left aligned eight wide column">
            {{name}}
        </div>
        <div class="ui right aligned eight wide column">
            <div class="ui buttons">
                <button class="ui positive icon compact button" {{action "acceptDial"}}>
                    <i class="checkmark icon"></i>    
                </button>
                <button class="ui negative icon compact button" {{action "ignoreDial"}}>
                    <i class="remove icon"></i>  
                </button>
            </div>
        </div>
    </div>
</div>