<div class="ui padded grid" style="height:100vh">
    <div class="six wide grey center aligned column">
        {{conversation-list
            activeConversation=activeConversation}}
    </div>
    <div class="ten wide column">
        {{#if isInConversation}}
            {{conversation-body
                name=activeConversation}}
        {{else}}
            No conversation selected
        {{/if}}
    </div>
</div>